body{
    background-color: white;
}
/* .row {
    padding: 9px !important;
} */
 
.cards {
    height: 116px;
    margin-bottom: 2rem;
    overflow: hidden;
    background-color: #fff;
    
}

.cards p {
    width: 235px;
    height: 40px;
    /* margin-right: 3rem; */
}
h6 .hide {
    display: none;
}

span img{
    width: 1.2rem;
}
 .first {
   display: flex;
   align-items: center;
}
.second {
    display: flex;
    align-items: center;
}
.third{
    display: flex;
    align-items: center;
}
.forth {
    display: flex;
    align-items: center;
}
.forth .btn-warning {
    background-color: #FFA500;
}
.first img{
    width: 64px;
    height: 52px;
}

.cards p {
    font-size: 16px;
}
sup {
    vertical-align: super;
    font-size: smaller;
}

.btn-primary{
    background-color:#E0E0E0 ;
    border: 1px solid #000000 ;
}

@media only screen and (max-width: 1024px){
     .hiden {
        display: none;
        
    }
    .btn-warning{
        width: 77px;
    }

    .btn-outline-warning {
        width: 77px;
    }
}

@media only screen and (max-width: 768px){
    .cards {
        height: auto;
    }
}