body {
    background-color: #E5E2DF;
    
}

#red{
    color:#8E1216;
}
.row {
    padding: 18px;
}
.main {
    padding: 2rem;
}
.cards {
    margin-bottom: 2rem;
    overflow: hidden;
    background-color: #fff;
}

.cards p {
    width: 235px;
    height: 40px;
    /* margin-right: 3rem; */
}

span img{
    width: 1.2rem;
}
 .first {
   display: flex;
   align-items: center;
}
.second {
    display: flex;
    align-items: center;
}
.third{
    display: flex;
    align-items: center;
}
.forth {
    display: flex;
    align-items: center;
}
.forth .btn-warning {
    background-color: #FFA500;
}
.first img{
    width: 64px;
    height: 52px;
}

.cards p {
    font-size: 16px;
}
sup {
    vertical-align: super;
    font-size: smaller;
}