 
.titles {
    padding: 2rem;
}
.title {
    margin-bottom: 2rem;
}

.titles h4 {
    font: normal normal bold 28px/40px Calibri;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    
    height: 28px;
}
.filters p {
    
    text-align: left;
    font-size: 0.5em;
    font-family: Calibri Regular;
    letter-spacing: 0px;
    color: #363636;
    opacity: 1;
}
.btn {
    border: 0.5 solid black;
    border-radius: 26px;
    color: black;
    font: bold;
    font-size: x-small;
    margin-left: 7px;
    padding:6px 9px;
}
.cross {
    font-size: xx-small;
}
.popular p {
    float: right;
}

.style {
    border: 1px solid black;
    color: black;
    border-top: 1px solid #8c8b8b;
    
    height: 3px;
    width: 30px;
    background-color: black;
    margin: 22px 0 20px;
}
.divide {
    width: 90%;
    margin-top: 1rem;
    color: black;
    border: 1px solid black;
}
@media only screen and (max-width: 376px) {
    .hide {
        display: none;
    }
}